* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: papayawhip;
}

main {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

#dice > div {
  margin: .4em;
}


h1 {
  font-style: italic;
  color: #373fff;
}

#calculate {
  font-size: 1.5em;
  margin: 1em;
  height: 3em;
}


#numbers {
  font-size: 1.5em;
}

#numbers input {
  font-size: 1em;
}

#output {
  background-color: burlywood; 
  margin: .5em;
  padding: 1em;
  border: 1px solid salmon;
}

#analytics {
  visibility: hidden;
}